[2014-05-14 02:26] ghost opened #2 "Project TODO"
In no particular order, my thoughts on getting this library up to date for some well deserved showtime!
- [x] Code Cleanup and new style documentation (done: 4b28088)
- [x] Composer Support (done: 5a70a7b)
- [x] Proper access for protected methods and properties
- [ ] PHP 5.3 standardization
- [ ] Unit TEST(S)!!! :rage:  :sob: :relieved: (#4)
- [x] Contributors section in Readme (done: f59af53)
-

[2014-05-14 03:35] ghost opened #3 "Force UTF-8 BOM"
This is not my request!!!!

This request is from:
https://github.com/asessa/php-parsecsv/commit/1d6864c6a41746075dc24fac02774d4d535cf22c

I love the idea and think we should work to integrate this.

[2014-05-14 09:35] jimeh opened #4 "Unit Tests"
As I originally created this project back in the dark ages before I had any knowledge of unit testing and other sane things, parseCSV currently lacks them.

This issue is for any discussions related to creating proper unit tests.
### Current State of Tests
- [x] Basic setup of tests.
- [x] Travis-CI Setup.
- [ ] _Expand this list with more Todo's as needed._
- [ ] Properties
  - [ ] set methods (m

[2014-05-14 14:22] ghost opened #5 "Fix Documenation"
This is not my request!!!

This is a request from:
https://github.com/insanityCodes/php-parsecsv/commit/bdab0b569840a06e022414cea2437e51e5d96667

Will work to solve shortly

[2014-05-14 16:38] #5 closed, assigned to nobody

[2014-05-17 10:27] jimeh opened #11 "Indentation, hard-tabs vs soft-tabs?"
I'm not sure what the norm is now a days, but having looked at a bunch of popular packages on packagist.org, it seems soft-tabs (4 spaces) is popular.

So, should we switch to 4 spaces wide soft-tabs, another width, or leave hard-tabs?

[2014-05-17 10:44] #3 closed, assigned to nobody

[2014-05-17 16:51] #11 closed, assigned to nobody

[2014-05-19 05:33] Computences opened #13 "Blind 500 error while parsing more than 13000 lines"
php_info and csv files at https://www.dropbox.com/s/5tg3th1cfx1euee/_testCSV.zip

I get a blind 500 error from my hoster (1and1, who doesn't provide me with Apache error logs). This is not a catchable error, not a memory error.

It seems to occur in parse_string, while parsing lines >13000.

![capture](https://cloud.githubusercontent.com/assets/7626930/3010544/6977d8c0-df16-11e3-9586-d3e51949a606.

[2014-05-19 18:55] #13 closed, assigned to nobody

[2014-05-27 15:37] Norcoen opened #14 "File output header"
Fileouput is:
if ( $filename !== null ) {
            header('Content-type: application/csv');
            header('Content-Disposition: attachment; filename="'.$filename.'"');
            echo $data;
}

Should be something like:
if ( $filename !== null ) {
    header("Content-type: application/csv");
    header("Content-Length: " . mb_strlen($data, '8bit'));
    if (strstr($_SERVER["HTTP_USER_AGEN

[2014-05-28 11:21] Norcoen opened #16 "function _enclose_value"
I just tested this class as a replacement for my own ragged parser and came across some data this parser seems to have some problems with.

I have a textfield in database containing semicolon followed by a whitespace followed by \r\n followed by more text - the parser does not enclose this value, so following columns are getting shifted in libreoffice calc.

I think the root of this problem is the

[2014-06-03 00:37] #14 closed, assigned to nobody

[2014-06-03 00:46] ghost opened #19 "outputed csv does not enclose when source is"
When reading an existing csv file that have all the cells (values) enclosed and then outputing it, the downloadable doesn't have any values enclosed. This again is an issue with the _enclose_value method.

[2014-06-03 15:49] #19 closed, assigned to nobody

[2014-06-03 16:09] ghost opened #22 "Last line not parsed"
Hi,
When parsing a CSV string (not a file) coming from a textarea, the last line does not contain a \r or \n so it is not retrieved.
I think you should update your lib in order to add manually an end-of-line if the last characters are not \n or \r.
Thanks

[2014-06-03 19:21] #16 closed, assigned to nobody

[2014-06-04 17:55] ghost opened #24 "Coding Style"
Right now the coding style of parseCSV is kind of messy. Do we want to update to a standard such as PSR. I personally do not like the PSR styles as they are in my opinion counter efficient for commercial development. However parseCSV isn't commercial so I am not totally against it. Just wanted to see what others thought about updating the coding style.

[2014-06-05 03:02] ghost opened #27 "conditions question"
So I see the docblock for the conditions property states the property should be a string. Which is confirmed by looking at the conditions.php example
 `$csv->conditions = 'author does not contain dan brown';`

However in the construct

[code]

I would venture to guess you mean to use `strlen($conditions)>0` but I just wanted to make sure.

[2014-06-05 03:07] ghost opened #28 "keep_file_data construct parameter"
While building unit tests for parseCSV I have come across an interesting issue while testing the construct method. The default value for the keep_file_data is false. (And in one of my tests I check the default), However I can't assert my csv string that was sent to the parameter because file_data is wiped by the time I can review the parseCSV object. Would you be up for the idea of adding  keep_fi

[2014-06-05 15:40] #22 closed, assigned to nobody

[2014-06-05 20:58] #28 closed, assigned to nobody

[2014-06-06 00:11] #27 closed, assigned to nobody

[2014-06-09 16:12] askie opened #35 "the type of result data is only string?"
the parse csv result data is wrong!
all fields should not been string!

[2014-06-11 15:17] #35 closed, assigned to nobody

[2014-06-17 10:27] Norcoen opened #36 "Project TODO"
- make parseCSV use the iterator interface
  - let iterator function handle both modes, big array and CSVReaderRows
- adapt file-handling from CSVReader in parseCSV
- merge functions:
  - don't let CSVReader use str_getcsv() (maybe parse_string() can be used as a drop-in replacement)
  -
- add option to constructor, which mode to use
  - let constructor initialize both ways

[2014-06-17 10:44] #36 closed, assigned to nobody

[2014-06-21 22:06] Norcoen opened #38 "function parse_string() and unicode files"
I don't have any data at hand to test it, but I spent some time playing around with the parse_string()-function for my chunk reader and think that it might fail if the csv file uses [unicode line terminators](http://en.wikipedia.org/wiki/Newline#Unicode).

Maybe more problems could occur from iterating $data[ ] as single characters, not taking care of multibyte characters.

Any thoughts?

[2014-09-06 14:50] RalphSu opened #41 "On output order"
In unparse()

[code]

if there is $fields exists, it seems the output should based on the $fields, otherwise
1. How do we guarantee the data row order is the same to the $fields
2. If $fields is given to only select some fields not all, this unparse seems broken

Can someone first check if above is an issue? i could provide some kind of fix.

[2014-09-11 17:05] EvoWebFrance opened #42 "Heading and offset"
Hello,

I'm using ParseCSV for big files (169Mo and up to 97000 records) and I must use the offset/limit feature to parse step by step.
If my CSV page has a heading, for an offset of 0 I have my array with keys as head names, but if my offset is set more than 0, I lost the keys as head names.
I suggest to modify the code like this in _parse_string_ function:

[code]

With this modification, I have

[2014-09-24 08:20] rohan210 opened #44 "Extra column added into parsed csv array"
After upload I'm moving the file from $_FILES['somefile'][tmp_name] to server's file folder.
The address is stored into $newFile variable

$csvFile=new parseCSV($newFile);

After this it's printing in a foreach loop:

Array ( [Full Name] => Amaris Ever [Email] => whoever@some.com [Phone] => XXX-XXX-8738 [Mobile] => [Fax] => [Address] => [City] => [State] => TX [ZIP] => 75006 [Country] => US [10] =

[2014-09-24 16:29] #2 closed, assigned to nobody

[2014-09-24 16:30] #4 closed, assigned to nobody

[2014-09-24 16:30] #24 closed, assigned to nobody

[2014-09-25 07:26] #44 closed, assigned to nobody

[2014-10-29 13:08] buderus199 opened #46 "$csv->output in while loop and output header"
Hello,

I think that this is not an issue with the script. Anyway, I'm using csv parse to make a multi line csv from db query. For every while loop, I use "$csv->output($filename, $array, $temparray, ';');". Even if I get a multi line csv file as it should be, I have "Cannot modify header information - headers already sent by" errors from output function. Because every loop the headers are sent to

[2014-10-29 13:36] #46 closed, assigned to nobody

[2014-12-05 18:57] balihoo-mrogers opened #47 "The last line should be ignored if it's empty"
Thanks for the great work on this project.  It fits my needs perfectly except for one minor detail.  According to section 2 of RFC 4180, "The last record in the file may or may not have an ending line break."  But if I parse a file that ends with a newline character, the parser returns an array ending with a nearly empty record that corresponds to the empty line at the end of the file.  The record

[2014-12-09 10:06] alwinaugustin opened #48 "Message: iconv(): Detected an incomplete multibyte character in input string"
When I use

$this->csv->encoding('UTF-16', 'UTF-8');
$this->csv->parse($file_path);

It is giving me this error.

What about using this instead in the library ?

iconv(mb_detect_encoding($text, mb_detect_order(), true), "UTF-8", $text);

This will detect the incoming encoding and convert to UTF - 8

[2014-12-12 12:30] gerald27 opened #49 "CSV adding extra line"
Hi, thanks for a wonderful csv library. I only have 1 problem with this library when I edit a data and I used $csv->save() each row added an extra line. Please see screenshot https://monosnap.com/image/snEP0sXtTjmyIvefVhEXkQpVfSMxGV. Thanks in advance

[2014-12-12 15:58] #49 closed, assigned to nobody

[2015-01-15 16:31] odan opened #50 "Autoloader not working"
Hello

I'm using composer to include parsecsv-for-php.
I added "parsecsv/php-parsecsv": "0.4.5" to my composer.json file.
But the class cannot loaded with the PSR autoloader.

Error: Class 'parseCSV' not found

PSR says: The fully-qualified namespace and class is suffixed with .php when loading from the file system.

I think the filename must be renamed from "parsecsv.lib.php" to "parseCSV.php"

M

[2015-01-15 16:33] williamknauss commented on #50
Good Day Odan,
While I agree the library name should be renamed that shouldn't prevent composer from autoloading the class. Would you mind sharing your composer file?

[2015-01-16 14:00] odan commented on #50
Hello williamknauss

Sorry, it was just an autoloading issue in combination with composer and CakePHP 2.x.
CakePHP doesn't fully support autoloading. I've had to add a small workaround in my CakePHP project (core.php):

[code]

[2015-01-16 18:31] odan opened #51 "PSR coding style"
Hello, I like your CSV parser and I would like to contribute to this project.
What do you think about rewriting the code to PSR-2 style?

https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md

[2015-02-26 14:09] #50 closed

[2015-03-23 14:24] alexschwarz89 opened #53 "flock causes the script to abort"
The following line causes the script to abort (there is no error message) on OS X Yosemite 10.10.2 running XAMPP with PHP 5.5.14.

    flock($fp, $lock);

It is defined inside parsecsv.lib.php inside the function _wfile
If I comment this line, everything works fine.

[2015-03-23 23:37] williamknauss commented on #53
Hi @alexschwarz89,
I'm not really sure why flock is in there at this point. Feel free to remove it and do a PR.

[2015-03-26 02:24] williamknauss commented on #53
Hi @alexschwarz89,
Got this done checkout #54. Let me know how this works for you.

Thanks

[2015-03-26 02:24] #53 closed

[2015-03-26 02:26] williamknauss commented on #51
Hi @odan,
Sorry for the tardy response here. We were planning on doing a huge rewrite of the basic parse api but that is going to be put off for a while so feel free to submit a PR with PSR-2 coding style.

[2015-03-26 02:26] williamknauss commented on #48
No response --- closing

[2015-03-26 02:26] #48 closed

[2015-04-20 00:02] jatazoulja opened #55 "Single column, numerical CSV"
Parsing issue when csv are numerical and has only one column.
ex:

86545235689
34365587654
13469874576

Somehow, it seperate each row base on the integer '6'.

I believe this was cause by having $enclosure = '"';
and requires all CSV to be enclose...

[2015-05-07 22:20] kstyles662 opened #58 "For large CSV's, is there a function to kill it from memory once it has been loaded"
For large CSV's, is there a function to kill it from memory once it has been loaded

[2015-06-12 09:01] hakimio opened #60 "Use MS Excel's "sep=" to detect the delimiter"
Microsoft Excel uses different default delimiter based on the current OS locale. For example, if locale is set to US it will use "," as delimiter and if it's Danish, it will use ";" by default. It works like that because many European languages use comma for decimal notation ("1,23" instead of "1.23" like in US).
However, the default delimiter can be specified in the file by putting "sep=," as the

[2015-06-12 10:34] jimeh commented on #60
I was not aware Excel did that. Would you happen to have a few examples that came out of Excel on hand you can share? If not I'll install Excel when I get some free time.

[2015-06-12 11:25] hakimio commented on #60
I am not sure what kind of example you are looking for. The difference between the CSV files when different locales are used is only the delimiter. You can find more info [here](https://support.office.com/en-za/article/Import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba#bmchange_the_separator_in_all__csv_text).

[2015-06-12 11:44] hakimio commented on #60
Here is a simple patch to illustrate what I want to achieve: http://pastebin.com/qara54N1

[2015-06-29 20:13] mubin-khalid opened #61 "Splitting rows unexpectedly."
I'm been working with this and found that whenever there is a zero in the line, it breaks the sequence.
Here.
I've this string in the file
http://www.amazon.com/ROX-Ice-Ball-Maker-Original/dp/B00MX59NMQ/ref=sr_1_1?ie=UTF8&qid=1435604374&sr=8-1&keywords=rox+ice+molds

I expected this output
[link] => http://www.amazon.com/ROX-Ice-Ball-Maker-Original/dp/B00MX59NMQ/ref=sr_1_1?ie=UTF8&qid=1435604374&s

[2015-07-11 17:11] williamknauss opened #62 "Append Mode"
One of the more recent commits killed append mode when writing a file.

[2015-07-11 17:16] williamknauss commented on #62
I reverted back to the handle usage of creating a file instead of file_put_contents...

[2015-07-11 17:16] #62 closed

[2015-07-11 17:17] williamknauss commented on #51
Hi @odan,
While the library location isn't PSR I did run the code through the CS-Fixer for cleanup.

[2015-07-11 17:17] #51 closed

[2015-08-04 07:21] tahseen2k8 opened #63 "how to convert 9.00E+18 numbers into simple numbers"
hey folks
I have used you lib it is really awesome every thing is working fine in it..
but facing only one issue there is a field which is containing 13 digit integer value '12123123123123xx'
which is shown 9.00E+18 like this in sheet . When i render and insert it into db it insert the data like this 9.00E+18  so how to formate them into real value which we insert into it..
thanks in advance ..

[2015-08-04 07:33] jimeh commented on #63
Hey @tahseen2k8,

Is this when you parse or build CSV data?

If it's when you're building CSV data you might need to convert integer values to strings yourself, as parseCSV just casts all input values to strings without any special logic.

If it's when you're parsing CSV data, are you performing any type conversations on the output data from parseCSV? Cause parseCSV itself doesn't perform any kind

[2015-08-04 14:31] tahseen2k8 commented on #63
Got it thanks for reply @jimeh

[2015-08-04 14:31] #63 closed

[2015-08-25 21:31] ftrotter opened #64 "Standards compliant vs wikipedia compliant"
The relevant standard here is RFC 4180 https://www.ietf.org/rfc/rfc4180.txt

The wikipedia article talks about what the RFC says but it also discusses lots of ways to handle CSV files that have little to do with the specific CSV standard.

Is the goal of this project to be compliant with the wikipedia article (which is what the readme currently says) or the RFC?

Either way.. thanks for the great

[2015-08-29 16:30] jimeh commented on #64
The idea is kind of to be compliant with both. The RFC is pretty straight forward and strict, but most real world CSV files don't exactly follow the RFC. The idea was always to try to be able to parse as wide range of real world CSV files (and their quirks) as possible.

Admittedly there hasn't been much in terms of large changes to the project for years, and that includes the readme too. But last

[2015-08-31 08:45] ChristianGrech opened #65 "Timezone Error"
Getting a timezone error instead of data in excel. `Warning: date(): It is not safe to rely on the system's timezone settings. You are *required* to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods an`.

Fixed by adding `date_default_timezone_set("Europe/London")`  in the output method.

[2015-09-08 07:11] ccoenen opened #66 "[enhancement] Line-Based API?"
I am parsing a 150MB CSV, and i (quickly) ran into `fgetcsv`'s shortcomings. One advantage it has, though, is that the number of lines was pretty much irrelevant.

In the examples and in the code, I can't really find an equivalent, though. It seems that the line by line stuff is bundled up in [parse_string](https://github.com/parsecsv/parsecsv-for-php/blob/master/parsecsv.lib.php#L639) and the fil

[2015-09-08 07:23] ccoenen commented on #66
I need my memory_limit of 2048M, to parse a 150MB csv :-(

[2015-09-08 07:58] ccoenen commented on #66
I have a workaround for anyone else with the same problem. But I really think there whould be some way to _not_ use this approach.

[code]

[2015-10-19 10:27] MattAds opened #68 "Creation of new columns works but headers not appended."
You can add new columns to the data and persist them with $csv->save().
However when this is done the keys added to the data set are not added to the headers.
I suppose it might be hard to ensure that added rows are done uniformly accross the data so maybe this is not desired functionality however it suited my purposes.
Is there a mechanism to at least manually edit the header line in this library

[2015-10-19 10:57] jimeh commented on #68
I have to admit the use case of adding columns is not something that's really been thought about. As such it's up to you to ensure all your data rows have the same number of values, and also that the internal list of columns for a parseCSV instance is updated.

The data side is pretty simple, but as for the internal list of columns kept by parseCSV, you can update that by simply adding additional

[2015-10-19 11:02] MattAds commented on #68
@jimeh Thanks very much for the quick response.You've allowed me to tie up this project before lunch.
$csv->titles is exactly what I need. Nice library, pleasure to use. :+1:

[2015-10-20 01:07] kervinhexasoft opened #69 "Is it possible to use another less memory intensive structure?"
When I try to load large number of rows, the RAM usage goes above the 512MB I allocated for my PHP. Would be great if it is possible to store the data in a less memory intensive structure as opposed to the standard PHP array which is a memory hog.

[2015-10-26 11:25] audas opened #70 "Not splitting Excel CSV files with quotes around lines"
The CSV exported from EXCEL returns it with quotes. However these are not being detected so headers are treated as a single array node for example (as are all other lines).

Example of Google Contact Fields Headers -

From Excel

"Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,Initials,Nickname,Short Name,Maiden N

[2015-10-26 13:56] jimeh commented on #70
It sounds like the Excel document is badly formatted. Something like this with all values in the A column:

![screenshot_26_10_2015_13_49](https://cloud.githubusercontent.com/assets/39563/10730525/6dd9937a-7be8-11e5-8df9-204a62f65b9c.png)

Would yield a CSV file like what you're seeing:

[code]

While the following Excel document:

![screenshot_26_10_2015_13_51](https://cloud.githubusercontent.com

[2015-10-27 01:42] audas commented on #70
Thanks for your reply, which has solved the problem.

However if I open the two CSV files in notepad++ they both appear exactly the same - except one has lines terminating wrapped in quotation marks, the other does not - that is the only difference.

If one exports contacts from GMAIL then there are two options - one for GMAIL or OUTLOOK - the only difference between these being the quotation mark

[2015-10-27 13:11] jimeh commented on #68
Glad to help :)

[2015-10-27 13:11] #68 closed

[2015-10-27 13:20] jimeh commented on #70
Strange. I just tried exporting my contacts from Gmail and regardless of which CSV option I picked it exported fine.

As for parseCSV handling the variation you've come across, I'm afraid it's not a CSV variation, but more of a broken file. Double quotes are used to for fields which contain commas inside of them. So in effect, wrapping a whole line in double quotes, is valid CSV containing a singl

[2015-11-17 09:37] slavafomin opened #71 "Detect BOM and strip it?"
Hello!

Thank you for this library.

I have some CSV files generated with Microsoft Office and they contain BOM at the beginning of the file. Looks like your parser is not handling it correctly (BOM sequence is added to the name of the first field).

I suggest to detect and remove BOM before parsing the file. Right now I have to do this manually.

Cheers!

[2015-11-17 09:39] slavafomin commented on #66
Yeah, I think such files should be read line-by-line, +1 for this.

[2015-11-19 17:46] jakenoble opened #72 "Case insensitive headers"
Is there anyway to make the headers case insensitive - e.g. force the lib to make all headers lower or upper case.

I am dealing with CSVs from multiple users some who user caps and some who do not.

[2015-12-07 15:35] Piskvor commented on #60
Here's my take on this potential feature: https://github.com/parsecsv/parsecsv-for-php/pull/73

[2015-12-07 15:59] hakimio commented on #60
@Piskvor I like your _get_delimiter_from_sep() method, but I don't think it's a good idea to use it only when normal automatic delimiter detection fails. If normal detection succeeds and you have "sep=;" as the first line in the file, the library will use "sep=;" as the column header which is a pretty bad idea.

[2015-12-07 16:05] Piskvor commented on #60
Actually, if delimiter detection succeeds, `$this->delimiter` will be populated at line 598, and the entire code block will be skipped. https://github.com/parsecsv/parsecsv-for-php/pull/73/files#diff-0659d2647a02cc831a903e1476a35e26R598

[2015-12-07 16:09] Piskvor commented on #60
Aha, I see your point now. Hmm, perhaps this could be a) made optional, or b) checked even before the other heuristics. (But let's discuss the changeset in its discussion; it's - IMHO - more readable than here, as it's not specifically relevant to the feature, rather to its implementation).

[2015-12-29 23:05] dampfklon opened #75 "double line endings"
### Steps to reproduce

$csv = new parseCSV();
$csv->parse('someFile.csv');
$csv->linefeed = "\r\n";
$csv->save('otherFile.csv');
### Expected behaviour

otherFile.csv has \r\n Line Endings
### Actual behaviour

otherFile.csv has \r\r\n Line Endings
### Server configuration

**Operating system**: Win10

**PHP version:** 7.0.1

I could fix the problem by changing the write mode in the save function

[2016-01-03 19:43] borys-p opened #76 "Encoding changed only when parsing files"
Hi,

It seems that the iconv() conversion takes place only when parsing files, not when parsing data from string. It's a little inconsistent and I have to add my own conversion, although there's one in the parsecsv library.

[2016-02-16 11:44] wujekbogdan opened #79 "[feature request] ability to change Content-Type header in order to create TSV file."
`Content-Type` is hardcoded and set to `application/csv`.
The only differences between `tsv` and `csv` format are **delimiter** (which could be changed) and **mime type** (which is hardcoded). For `tsv` it's  not `application/csv` but `text/tab-separated-values`

[2016-03-02 20:35] RatkoR commented on #38
Hi all,

I had the same problem. I have a csv file with multiple unicode characters. What is wrong is exactly what Norcoen has explained:

`$ch = (isset($data{$i})) ? $data{$i} : false` splits string one byte at a time. So when there is a multibyte characters it makes an error.

Because of this `parse_string` does not parse whole csv data:
`$strlen = strlen($data);` counts number of characters. Th

[2016-03-04 13:14] Norcoen commented on #38
I just realized I did not do anything to solve my customers CSV problems for nearly 2 years :laughing:

@RatkoR you are wrong about _strlen _counting characters, it's clearly stated in the docs that _strlen_ counts bytes. Your example would return a length of 5 (I tested it)

Nevertheless I still think parsing the data should use mb_ oder iconv_ functions because line-endings might differ and (I d

[2016-03-04 14:04] RatkoR commented on #38
Not if one has `mbstring.func_overload` activated. In this case `strlen` returns number of characters, not bytes (which is what we have).

It works fine for my case if I break csv per characters (not per bytes).

[2016-03-08 05:24] tmetzger commented on #42
Just stumbled across this. I had the same issue as OP - parsing large files, must use offsets, only the first offset (zero) had headers!

I made the above adjustment, and all is working well now. So the code seems good, at least in this use case.

[2016-04-05 05:40] Dharin-shah opened #80 "output function un-parses the data printed on screen as well"
`$result = array(array('Name'=>'Parser', 'Age'=>'30'));
		print '<pre>';
		print_r($result);
		print '</pre>';
		$csv = new parseCSV();
		//$csv->save('list.csv',$result);
		$csv->output('list.csv',$result,null,',');`

Try the above code. It creates a file with the printed results on screen as well along with the array data.

[2016-04-06 06:05] Dharin-shah commented on #80
Its not a bug int the library. The headers send everything in the output stream which is printable to the file.

[2016-04-06 06:05] #80 closed

[2016-04-14 07:43] tahseen2k8 opened #81 "encoding issue when parsing chines/arabic"
Hi there
I am using this library from last 2 years very easy to use and control
thanks for such a useful tool .
currently I am facing an issue in parsCSV. i need to parse arabic and chines data from sheet
and the library showing me only ?????? like this
obsessively I had tried both method auto and encode but not showing the data exactly what i want any urgent suggestion or help will highly appreci

[2016-05-02 06:42] arafay696 opened #82 "modify csv titles"
*_How to modify csv titles: *_
i try:
$csv->titles = array('fname','LastName','EmailAddress','paxContactNo','paxGenderID','paxAgeGroupID','BookingCode');

$csv->save();

**before:**
FirstName,LastName,EmailAddress,paxContactNo,paxGenderID,paxAgeGroupID,BookingCode

**After: it changes the syntax of file like this:**
"fname""LastName""EmailAddress""paxContactNo""paxGenderID""paxAgeGroupID""BookingC

[2016-07-19 16:31] paoloromano opened #84 "Could I change the column's id when I parse the csv?"
During the parse i would to change the id of column with id=4 for example. Is it possible?
Thanks.

[2016-08-16 12:27] vog opened #85 "Silent data loss: Last line is ignored if it does not end with newline"
The CSV parser causes a silent loss of data if an input CSV file does not have a trailing newline. In that case, the last line is ignored without any warning.

Example program:

[code]

Expected result:

[code]

Actual result:

[code]

[2016-09-09 20:18] isleshocky77 opened #86 "->auto() delimiter detection does not account for offset"
If I have a file that looks like the following.

[code]

| A | B | C |
| --- | --- | --- |
| Summary |  |  |
| First | Last | Age |
| John | Smith | 10 |
| Billy | Bob | 9 |
| Jane | Fine | 14 |
| Jim | Stark | 12 |

And then pass it to parseCsv with an offset.

[code]

then parseCsv is unable to determine the delimiter

[code]

the reason for this is that `auto` does not account for offset which

[2016-09-14 17:39] skunkbad opened #87 "Output method always produces headers and outputs directly to browser"
Sure, you can set $this->output_filename to NULL before calling the output method, but the doc block for the method should reflect that. As it is now, one would expect the method to return a string if the first parameter is set to NULL.

In my modified parseCSV.php file, I just commented out lines 459 through 461:

[code]

[2016-10-31 10:09] Piskvor commented on #85
Cannot reproduce with current version, I get the expected result.

[2016-10-31 13:35] vog commented on #85
Indeed, it seems this issue was fixed in commit cff692d97665209e6440f0913645babd4c0268d4

[2016-10-31 13:35] #85 closed

[2016-11-24 00:27] adrianbj opened #89 "Error with enclosures on last item of last row without an end of line character"
My understanding is that the CSV spec doesn't requirement an EOL character on the last row, so I wonder if this parser should handle this better.
[code]
will result in: `Item 2"` with the quote on the end.

So long as I ensure there is an EOL then there is no problem.

Without the EOL, you get a PHP Notice referencing this line: https://github.com/parsecsv/parsecsv-for-php/blob/4f144f2662af4f630a7

[2017-01-12 12:27] pws2016 opened #90 "encoding"
How i can know my encoding file?
i have upload form to can user upload his csv but i have error of encoding so must know the original encoding file to can use the encoding function to UTF8!
thanks

[2017-01-12 14:18] steffengrahl commented on #90
you can use mb_check_encoding on a given string. to use mb_check_encoding read the whole file with file_get_contents and you can check the encoding.

documentation for mb_check_encoding http://php.net/manual/de/function.mb-check-encoding.php
documentation for file_get_contents http://php.net/manual/de/function.file-get-contents.php

[2017-01-18 02:44] gramagrass opened #91 "Text fields appear concatenated"
In my .cvs a text field with several phrases (each in a line when I see the file in a text editor) appear like a solid chunk of text when running it through parsecvs. Is a problem with the encoding in the library?

[2017-01-18 02:52] grundum commented on #91
nevermind, using nl2br();

[2017-02-17 09:25] alehandrof opened #92 "Open URLs with ParseCSV"
Is it possible to open remote CSVs with this class?

I tried something like this: `$csv  = new parseCSV('http://example.com/foo.csv');` but no joy. Is there another built-in way of approaching this?

[2017-02-22 03:38] websanova opened #93 "parseCSV not found?"
So I'm doing a `require` and can `echo` but still gives not found?

[code]

Still gives not found ?

[code]

No idea why it would be coming up not found.

[2017-04-18 19:32] jens-chorus commented on #61
I can confirm this bug. You can work around this by setting the delimiter manually however.

[2017-06-01 00:07] sajidshah opened #95 "How to get Total Rows in CSV file?"
What is easy way to get total records in csv file. I have a file over 30k rows. Is there a simple way to get total count? There is html data in on of my column too, which includes multiple line breaks. So total line will not give exact number. Wondering if there is any quick way other than reading entire csv and checking array size?

[2017-06-01 12:38] shazahm1 commented on #95
I do it like this:

[code]

[2017-06-01 16:26] fiedsch commented on #95
Ok, but that is

which @sajidshah wanted to avoid

[2017-06-01 16:52] shazahm1 commented on #95
@fiedsch , yeah, I read that now. Honestly, I didn't read the last sentence...

To get the number of rows, you have to parse the file... one way or another.

This would be a more performant method:

https://stackoverflow.com/a/43075929/5351316

Problem is @sajidshah said he has HTML with line breaks in the CSV file. I would assume that the only way to get reliable count is to actually parse the fi

[2017-06-01 20:08] koiosoft commented on #95
My answer can be silly. But what about, copy the file and add at the end, a line that guarantees that it is the last (with some wildcard). Then you can read sequentially until you get the last line.

Understand the utility of knowing the total of Lines, if you want to have a kind of progress bar.

Now imagine, that you are reviewing line by line and rebuild the file as it is. Each time you add N n

[2017-06-30 03:18] sajidshah commented on #95
@shazahm1 @fiedsch @koiosoft

Thank you for looking into this question. Really appreciate your help.
SplFileObject can be a way of doing it BUT unfortunately it also returns the last line as total records which is not correct (because of multiple line breaks with in column data).

I tried some ssh commands too but they are also not very useful to get accurate total rows with these line breaks.

Th

[2017-07-17 13:08] pws2016 opened #97 "error encoding"
Hello,
i use your library to read data from csv but i'm always use differnent encoding csv file and some times i have error!!
i use this lines:
$csv = new parseCSV();
$enc=mb_detect_encoding(file_get_contents("csv/".$_SESSION['csv_file'])); // in this session i have my csv file name
$csv->encoding($enc);
$csv->auto("csv/".$_SESSION['csv_file']);

when i do this i see empty page! (also how i can di

[2017-07-18 10:42] pws2016 opened #98 "CSV with MAC"
Hello,
i build a CSV file with MAC and i have encoding error .. after upload the file i see empy page!
How i can fix this?

[2017-10-10 16:56] tunecino opened #99 "[BUG] zeros are breaking lines on null delimiter (single column of data)"
### What steps will reproduce the problem?
Create a `data.csv` file with the following content:
[code]
Then do:

[code]

### What is the expected result?
[code]

### What do you get instead?
[code]

May also be related to https://github.com/parsecsv/parsecsv-for-php/issues/61.

[2017-11-02 20:35] Fonata opened #101 "PhpStorm .idea directory: add to repository?"
Dear @jimeh, @repat, @helpse, @Norcoen, @waknauss-kingdom, @williamknauss

I'd like to add the ``.idea`` directory to the repository. It will tell the PhpStorm IDE how to format the code, which inspections to skip and some other things.

I propose to vote on this until the end of the year (2017-12-31).

Write +1 if you are in favor, and -1 if you'd like to keep the repository IDE-vendor-agnostic.

[2017-11-02 20:42] adrianbj commented on #101
What about being more inclusive and using: http://editorconfig.org/

[2017-11-02 20:59] Fonata commented on #101
Indeed, this is what I had in mind, too - in case the PhpStorm doesn't win any comments here. I'll go ahead and open a merge request regardless how this issue turns out.

[2017-11-03 19:34] kingdominc commented on #101
I'm not a big fan of using IDEs for PHP development. With that said I am by no means discouraging anyone who does use them. (I use Sublime Text because of lack of funding for "cool" ideas like Zend Studio, etc). I am 100% ok with you adding the .idea file to the repo. However we want to be cautious not to add to many "IDE specific" files.

@Fonata - I love how you from the get go are embracing ope

[2017-11-03 19:36] williamknauss commented on #101
Sorry commented on the wrong account - deleting the comment by @kingdominc ....

I'm not a big fan of using IDEs for PHP development. With that said I am by no means discouraging anyone who does use them. (I use Sublime Text because of lack of funding for "cool" ideas like Zend Studio, etc). I am 100% ok with you adding the .idea file to the repo. However we want to be cautious not to add to many

[2017-11-03 19:38] adrianbj commented on #101
Sorry, I know I am a bit of an outsider here, but that is why I suggested a .editorconfig file. PHPStorm supports it: https://plugins.jetbrains.com/plugin/7294-editorconfig as does SublimeText and most other editors/IDEs - it' s really great way to handle things IMO.

[2017-11-03 20:36] #99 closed

[2017-11-03 20:40] Fonata commented on #87
Good catch. Instead of fixing the code, I fixed the docs.

Another solution: You can call the `unparse()` function to get the string.

[2017-11-03 20:40] #87 closed

[2017-11-03 20:42] Fonata commented on #91
I'll go ahead and close this. Feel free to re-open if you have an example file parseCSV doesn't seem to handle well.

[2017-11-03 20:42] #91 closed

[2017-11-21 15:54] andy1547 opened #103 "Support for for PHP 7.0/7.1"
The documentation implies this has not been fully tested on PHP 7.0/7.1, has anybody had success using this library in with those versions?

[2017-11-21 15:57] adrianbj commented on #103
No problems here on 7.0, 7.1, or 7.2

[2017-11-25 13:24] #95 closed

[2017-12-06 01:25] #103 closed

[2017-12-06 02:18] Fonata commented on #93
Sorry we weren't of help earlier. I'll close this issue now because so much time has passed.

Feel free to open it again in case you can paste the exact error message.

[2017-12-06 02:18] #93 closed

[2017-12-06 02:20] Fonata commented on #98
Sorry we weren't of help earlier. I'll close this issue now because so much time has passed.

Feel free to open it again if you still have issues. We'd need to know if your problem is
- related to parsing an existing CSV or
- writing a CSV to disk or
- outputting a CSV to the browser?

[2017-12-06 02:20] #98 closed

[2017-12-06 02:25] Fonata commented on #97
Sorry we weren't of help earlier. I'll close this issue now because so much time has passed.

From the information you provided I'd guess that ``mb_detect_encoding`` is not always right; if your CSVs come from the same source, the encoding is probably the same within each file - that would eliminate the risk of `mb_detect_encoding` getting it wrong.

Feel free to open it again in case you still ha

[2017-12-06 02:25] #97 closed

[2017-12-06 02:37] Fonata commented on #92
Short answer: no, parseCSV will never support URLs directly.

They are not treated specially. In particular, there is a call to `file_exists` around line 826 that will always fail because [stat is not supported for http(s)](http://us3.php.net/manual/en/wrappers.http.php).

If your PHP is configured to allow reading from http via stream wrappers, you can run any file function to get the content fir

[2017-12-06 02:37] #92 closed

[2017-12-06 02:39] Fonata commented on #90
Potentially, also a BOM might be present and interfering. In 20 days at the latest, parseCSV will be a little smarter in reading CSV data with a BOM - see #106.

[2017-12-06 02:39] #90 closed

[2017-12-06 03:26] Fonata commented on #89
Thanks for bringing this up. Indeed, this happens if you call `parse_string` directly.

Please call `auto` or `parse` instead, which will internally add the EOL around [line 846](https://github.com/parsecsv/parsecsv-for-php/blob/master/parsecsv.lib.php#L846)

[2017-12-06 03:33] Fonata commented on #86
I'm drawn to say: use your knowledge of the file to help parseCSV:
- call `parse` instead of `auto` to keep the default delimiter (which is `,`), or
- remove the first line before handing the string over to parseCSV

I'll close this issue for now. If there is a larger number or important source for such 'broken' files, we'll have a name for the 'brokeness'. Then, feel free to open this issue again

[2017-12-06 03:33] #86 closed

[2017-12-06 03:35] adrianbj commented on #89
@Fonata - I am actually calling `parse`

This is my code:
[code]

I have problems without that first line. I think you could replace that block around 846 with my first line and things would be fine. It's probably a Mac vs PC thing. My version should fix it for both.

[2017-12-06 03:37] Fonata commented on #81
Sorry we weren't of help earlier. I'll close this issue now because so much time has passed.

From the information you provided I'd guess that ``mb_detect_encoding`` or the BOM detection from #106 could help. You can also try to figure out the encoding using Open Office.

Feel free to open it again in case you still have problems.

[2017-12-06 03:37] #81 closed

[2017-12-06 03:40] Fonata commented on #76
Indeed, thanks for letting us know. You could call `load_data` with your string before calling `parse_string` without any parameters.

[2017-12-06 11:17] borys-p commented on #76
Still, it should be documented

[2017-12-06 16:58] Fonata commented on #76
Will do.

[2017-12-06 17:05] Fonata commented on #89
Thanks! I’ll research this. At the very least, we’ll need test examples to document the desired behavior.

[2017-12-06 20:46] borys-p commented on #76
Thanks!

[2017-12-08 18:46] SamCritch commented on #42
Assuming I understand the problem, I solved this by first setting offset to 0 and limit to 1, then parsing the header line of the file:

`$header_fields = array_keys($csv->data[0]);`

Once that's done I parse again in a loop with required offset and limit, but do the following for each loop to set the headers for each parse:

`$csv->fields = $header_fields;`

[2017-12-08 20:06] SamCritch opened #107 "Can't get more than 100 rows with AWS SDK S3 registerStreamWrapper()"
Hi. Using the [S3 Stream Wrapper](http://docs.aws.amazon.com/aws-sdk-php/v2/guide/feature-s3-stream-wrapper.html) and a parseCSV() method $scv->auto('s3://bucket_name/filename') to pull a file from Amazon S3 I can get the first 100 lines of any CSV file, but no more. Has anyone else experienced the same? This happens whatever I set an offset and limit to (unless it's smaller than 100).

The other

[2017-12-09 07:33] Fonata commented on #107
Do you get the full content via file_get_contents()? If yes, you could give the string content instead of the URL to parseCSV.

[2017-12-21 08:33] #71 closed

[2018-01-06 09:00] Fonata commented on #101
Thanks for your input! .editorconfig has been added!

For anyone who wants my additional choice of settings, e.g. of disabled inspections and code style settings that fit to the current source code formatting, I just attach my [IntelliJ and PhpStorm settings.zip](https://github.com/parsecsv/parsecsv-for-php/files/1608617/IntelliJ.and.PhpStorm.settings.zip)
to this issue and close it. For a single-

[2018-01-06 09:00] #101 closed

[2018-01-06 10:43] Fonata commented on #75
I could confirm this bug and am currently writing a PHPUnit test to catch it. I expect a fix in the master branch by February.

[2018-01-19 22:06] faizanjafri opened #109 "File Conversion Error Please Fix it when i wirte located cell in 0 then its work also some unicode csv file dont read print just name so please fix it soon if possible"
Notice:  iconv(): Detected an illegal character in input string in C:\xampp\htdocs\newchk\class\parsecsv.lib.php on line 858
![image](https://user-images.githubusercontent.com/32553171/35173832-b266798e-fd8e-11e7-8b2a-ee2f6cfbdcb4.png)

[2018-01-21 14:14] Fonata commented on #109
Hi faizanjafri ,

There seem to be several topics here:
- ``iconv()`` doesn't accept the input. This can be caused by
  1. your environment as ``iconv()`` is an external library not fully compiled into PHP. As a remedy, I will add a new field ``use_mb_convert_encoding`` to ParseCSV.
  2. Or it can be caused by specifying or detecting a wrong encoding
  3. The encoding of your file might actually b

[2018-01-21 16:28] Fonata commented on #69
Probably not. However, you can always read or write line by line. That will be slower but require much less RAM.

To write line by line, supply `true` as the 3<sup>rd</sup> parameter of ``save()``.

Reading line by line is easy if no cell contains a newline. You can use `ftell` and `fgets` to iterate. If you expect newlines within cells, use the `limit` field to parse logical line for logical line

[2018-01-21 16:28] #69 closed

[2018-01-21 16:34] Fonata commented on #107
I don't think that 100 is a magic number here. Maybe some buffer's size coincidentally results in 100 lines of CSV. Please have a look at issue #69 for an example of partially reading the file line by line. You can use `ftell` and `fgets` to iterate.

[2018-01-21 16:34] #107 closed

[2018-01-21 16:39] Fonata commented on #65
Thanks for sharing your solution! 😊

In my view, nothing needs to be changed with parseCSV.

[2018-01-21 16:39] #65 closed

[2018-01-21 16:52] Fonata commented on #60
Thanks everyone! This is in the master branch now.

[2018-01-21 16:52] #60 closed

[2018-01-21 17:08] Fonata commented on #70
I don't think there is anything we can do within the code of this project to prevent the experience described above.

Thus, I'll go ahead and close this issue. If more information comes along, feel free to re-open it.

[2018-01-21 17:08] #70 closed

[2018-01-21 18:01] Fonata commented on #55
Indeed, until 4e6448d2123e0c7f5405069f7b5512a52ae767d8 the function `_guess_delimiter()` used to return 6 for this example. This was because even though numbers are contained within `$auto_non_chars`, the `preg_quote` call quoted the `-` character into ``\n` to build this: ``/[a\-zA\-Z0\-9]\\n\\r/i``. As it refutes the objective of `$auto_non_chars`, I consider a delimiter of int(6) a bug.

Howeve

[2018-01-21 18:01] #55 closed

[2018-01-21 20:07] Fonata commented on #47
Regarding "an ending line break": I lack an example file that would trigger any surprise. Of the files and strings tested by PHPUnit tests, some have ending line breaks, others have not.

Unfortunately I cannot improve the parsing code without an example showing a bug.

If you come across a problematic file, please attach it and re-open this issue.

[2018-01-21 20:07] #47 closed

[2018-01-23 11:47] faizanjafri commented on #109
i have do this thn its working
![image](https://user-images.githubusercontent.com/32553171/35274221-1aa10b10-005d-11e8-8708-c354538bbbdd.png)

[2018-01-23 11:48] faizanjafri commented on #109
if($extension == 'csv')
                      {

                        require_once('class/parsecsv.lib.php');
                          $info = pathinfo($_FILES['employee_file']['name'][$i]);
                          $webname = $info['filename'];
                          $select = "SELECT * FROM website WHERE website = '".$webname."'";
                          $runQuery = mysqli_query($conne

[2018-01-23 11:49] faizanjafri commented on #109
Thats my code but it not read all data from csv sheets

[2018-02-02 10:13] #64 closed

[2018-02-02 10:13] #76 closed

[2018-02-02 12:25] Fonata commented on #109
From the screenshot of the code, I believe that no change is necessary in the library itself.

Please set `$csv->output_encoding = "ISO-8859-1//IGNORE"` in your code instead.

[2018-02-02 12:25] #109 closed

[2018-02-02 12:29] Fonata commented on #89
@adrianbj it is potentially fixed by now. I'd like to add a PHPUnit test though. Is there any chance you could attach a CSV file here?

You may remove parts that should remain private, but please leave field separators, line ends, enclosures and such as they are.

[2018-02-02 12:34] #75 closed

[2018-02-02 12:37] Fonata commented on #58
The string is freed automatically since this commit: 9b64cb07c4c85ec2d50b88c2531d8daf09fe36a3.

You have to free the object manually, e.g. by setting it to `null`.

[2018-02-02 12:37] #58 closed

[2018-02-02 12:39] #61 closed

[2018-02-02 12:42] Fonata commented on #82
For now, there is not enough information here to solve this old issue.

[2018-02-02 23:28] adrianbj commented on #89
Thanks @Fonata - that seems to work fine. Here is the result with the new version. I can attach a csv file, but all you really need is a string with:

[code]

On another note - I should probably raise a new issue, but notice the extra blank space before "Item 2" in titles[1] - same happens for all subsequent CSV "columns" when using enclosures. Also, doesn't matter if `$rows->heading = false;` so

[2018-02-03 17:32] Fonata commented on #89
My understanding of CSV is that the enclosing char `"` should touch the field delimiter. In your example, there is a space.

I'm not sure how the majority of CSV implementations would see this, but there is certainly ambiguity. I guess, the present philosophy of this project is to never reject CSV files (exceptions and such).

[2018-02-03 22:58] adrianbj commented on #89
Yes of course - sorry for the confusion on that - my fault.

Back to the actual issue - are you happy with this is a test case?

[code]

[2018-02-07 07:53] Quadratica opened #112 "Documentation"
You could document the 3° param of the "save" function:
- "true" means Append
- "false" means file Overwriting

You could document the 4° param of the "save" function:
- It’s  the "Header Insertion" param, eg array( "Name", "Surname", "Address"  )

Thank you for your software

[2018-02-20 15:56] geminorum opened #116 "PHP 7.2: count arg must be an array"
parsecsv.lib.php:353 `count(): Parameter must be an array or an object that implements Countable`

[2018-02-20 16:02] geminorum commented on #116
composer version: `0.4.5`

[2018-02-20 19:31] Fonata commented on #116
Thanks @geminorum for bringing this up. The message was caused by the line `if ( count($conditions) > 0 ) {` which was replaced by `if (!is_null($conditions)) {` in the master branch.

There is no released version fixing this. I'm quite confident the next official release is not more than 4 weeks away.

[2018-02-21 11:05] SobakaEbaka opened #117 "Error. Eats a line if CSV without field names"
**example:**
    $file="1997,Ford,E350,\"ac, abs, moon\",3000.00";
    $csv = new parseCSV();
    $csv->fields =  ['col1', 'col2','col3','col4','col5'];
    $csv->auto($file);
    var_dump($csv->data );

**Result:**
    array(0) { }

[2018-02-21 12:12] SobakaEbaka commented on #117
Ohh...  sorry
 $csv -> heading =false; !

[2018-02-21 12:12] #117 closed

[2018-02-21 15:53] Fonata commented on #117
I'm glad you figured it out yourself.

If you have any further questions feel free to create another issue.

[2018-02-22 20:16] shawe commented on #116
@Fonata thanks for say the ETA for next release, I'm also waiting for it.

[2018-02-22 20:28] Fonata commented on #116
Feel free to use the `master` branch until then.

[2018-02-22 20:42] shawe commented on #116
I do it, and works well, but the main maintener don't want to use dev-master in composer.

[2018-03-02 16:06] #42 closed

[2018-03-02 16:13] #79 closed

[2018-03-03 11:23] Fonata commented on #116
I just published the 1.0.0 release. Now you can update the version number in your `composer.json` to get it.

Thank you for your patience. Feel free to create more issues.

[2018-03-03 11:23] #116 closed

[2018-03-03 12:34] shawe commented on #116
Thanks to keep up the good work ;)

[2018-03-07 08:35] #112 closed

[2018-03-08 12:50] susgo commented on #84
Could you give us an example? I think that should be a post parse task and therefore it should be implemented as an extension. Also it makes the library more complex. But when you give us more information, I'm sure we can help you and may be extend the code here.

[2018-03-08 12:52] susgo commented on #82
I think we have working tests for this situation now. Could you please check again if this works for you now?

[2018-03-08 13:03] susgo commented on #66
I think, I miss something because I'm new to the project, but why does `limit` and `offset` do not work in this situation? Sorry, if this is trivial. I don't see it in the moment

[2018-03-09 22:53] ccoenen commented on #66
I don't want to limit anything, I want the whole file. But in my case, it's not neccessary to have it in memory all at once. I'm processing each line and then move on to the next.

[2018-03-10 11:30] Fonata commented on #66
Your workaround above only works if your cells never have embedded line breaks. You can still use  `limit` and `offset`  to get the whole file: by processing it in chunks: keeping  `limit` constant (e.g. 100) and increasing `offset`. You can use @susgo's `getTotalDataRowCount()` function to calculate how many chunks you have.

Alternatively can also try the following repositories for parsing big f

[2018-03-10 11:36] Fonata commented on #89
Indeed, we've added your test case to the PHPUnit tests:  `testMissingEndingLineBreak()`.

[2018-03-10 11:36] #89 closed

[2018-03-10 12:39] ccoenen commented on #66
In my case, the csv can't have multiline data (yes, sounds like one of the assumptions that is about to be broken, but I also generate the CSV, so I'm quite certain). My workaround "works for me" for the moment.

I just thought, a streaming interface would be nice. I didn't know the limit/offset thing before today, probably I didn't find it because it's not very prominent in the README (and I didn

[2018-03-10 21:08] susgo commented on #66
I have updated the readme here #129

[2018-03-10 21:22] susgo commented on #66
Now I see, our solutions will not help you as the file is already read (in all cases). Sorry for not checking it before answering. I agree that this feature would be useful.

[2018-03-10 22:47] ccoenen commented on #66
Good addition to the readme! I guess this will be good enough for most use cases. I have a workaround in place (which I'll continue using for the time being), and nobody else reported that problem. I'll close this ticket?

[2018-03-10 22:47] #66 closed

[2018-03-11 10:14] #41 closed

[2018-03-16 18:11] shinkle-orbytel opened #132 "$csv->output doesn't work"
I have a very simple test case for generating CSV output based on some data.

require DIR_RESOURCES . '/parsecsv/parsecsv.lib.php';
$csv = new ParseCsv\Csv();
$output = $csv->output("test.csv", [0 => ['a', 'b', 'c'], 1 => ['d', 'e', 'f']], ['col1', 'col2', 'col3'], ',');

Causes the following: PHP Fatal error:  Uncaught exception 'UnexpectedValueException' with message 'The specified fields do not

[2018-03-17 11:27] Fonata commented on #132
@shinkle-orbytel Thank you for creating this issue!

I have created pull request #133 to fix it.

[2018-03-19 22:37] ghost opened #135 "Update composer.json"
Update the composer.json authors section. We now need to include @Fonata in it

[2018-03-21 18:00] gaetanHautecoeur opened #136 "Can't unparse when no data in the object"
`
$fieldsInfos = [
    'a' => 'AA',
    'b' => 'BB'
];
`
`
$data = [[
    'a' => 'value1',
    'b' => 'value2',
]];
`
`
$csvParser = new Csv();
`
`
$csvParser->unparse($data, $fieldsInfos);
`

is not working and need to set $csvParser->data with the $data to work. Is it the wrong way to use unparse ?
By the way there is no example of this method in the documentation.

Moreover the test running unp

[2018-03-21 18:29] williamknauss commented on #136
Unparse will return to you a single string. I think that was one of the methods in the original class that was never re-factored or removed.

[code]

@Fonata  - Should this method be removed or refactored to return a populated Csv object?

[2018-03-28 11:15] Fonata commented on #136
The general idea of ``unparse`` is to return a string, and that is fine. The name took me a while to wrap my head around, though, but to me it's an ok naming choice that becomes obvious after a little thinking.

However, from just reading the issue here, it seems the parameters are broken. I will look into it and add a test.

[2018-03-28 13:39] Fonata commented on #136
All current unparse tests start with a CSV file just to compare the string.

This issue was fixed by #133.

[2018-03-28 13:39] #136 closed

[2018-04-05 12:54] djeraseit opened #139 "getTotalRowcount"
PHP Fatal error:  Uncaught Error: Call to undefined method ParseCsv\Csv::getTotalRowCount()
[code]

[2018-04-05 13:05] djeraseit commented on #139
After reading code, correct function name is: getTotalDataRowCount()

[2018-04-11 06:30] #139 closed

[2018-04-13 07:48] kPinder opened #141 "no valid autoparsing if file has multiple empty lines on end"
with file:
[example_no_parse_multipler_empty_lines.csv.zip](https://github.com/parsecsv/parsecsv-for-php/files/1906321/example_no_parse_multipler_empty_lines.csv.zip)

[2018-04-29 08:42] Fonata commented on #141
Dear kPinder,

Thanks for opening this issue & welcome to GitHub! I will add your file to the tests and adjust the parsing.

[2018-05-04 13:06] gesundelehre opened #143 "Delete a row"
Is there a way to delete a certain row

If not, would it be possible to create a method that could be called like this?

[code]

Thanks in advance for the reply

[2018-05-05 07:27] Fonata commented on #143
Dear @gesundelehre thanks for asking! You can use `unset($csv->data[$row_index]);` before saving. In this example, `$row_index` is an integer indicating which row to delete.

To look for an id in the data, let me assume you have a header row in your CSV, and the column to search for the id is called just id. Then you can use something like `$row_index = array_search(4, array_column($csv->data, 'id

[2018-05-05 07:27] #143 closed

[2018-05-05 09:51] susgo commented on #132
The pull request is merged so this could be closed, couldn't it?

[2018-05-05 09:51] susgo commented on #82
I think this issue can be closed?

[2018-05-08 20:07] williamknauss commented on #82
@susgo - Just for clarification - are you ready for this ticket to be closed?

[2018-05-08 20:07] #132 closed

[2018-05-09 07:55] susgo commented on #82
I think so. We can reopen it when it does not work for @arafay696 but then we need more information. Alternatively, we could use a label that we are waiting for feedback. What do you think?

[2018-05-09 14:59] williamknauss commented on #82
My preference is to close tickets even if we are waiting on feedback from a user. It makes the repository seem less cluttered and doesn't give any negative viewpoints at "first glance" when someone new is visiting the repository. However I  believe in democracy so I take take it to a vote! :)

[2018-05-10 07:40] tejashapani opened #145 "Character 'R' is converting to comma(,)"
Hello,

I am using ParseCSV class to upload and import data from CSV.

It is converting character 'R' to comma.
for example, if the string in csv is 'form' then it converts this to 'fo,m'
or 'release' to ',elease'

How can i avoid this?

[2018-05-11 06:26] tejashapani commented on #145
Hi @susgo ,

Thanks for reaching out to me.

Below is the code i am using:
`include_once 'parsecsv.lib.php';
$csv = new parseCSV();
$csv->auto('Waiver.csv');

foreach ($csv->data as $row):
    $rowData = @implode(",", $row);

    // Having insert query here.
    // Save each row data as one single record in database.

endforeach;`

The parsecsv class file is here:
https://www.dropbox.com/s/dy55l4y

[2018-05-11 07:03] #141 closed

[2018-05-11 07:28] Fonata commented on #145
Interesting! Usually, this kind of behavior should be prevented by the `$auto_non_chars` field.

@tejashapani would you be ok with us adding your CSV file to our automated tests? Feel free to test with the current master branch of this repo. Also, you are welcome to send us a merge request with either just the test or also the bug fix (if we can reproduce it with the master - I haven't tried yet).

[2018-05-22 07:03] Fonata commented on #145
@tejashapani please try again with the master branch.

I'll close this issue for now. If you also run into problems with the master branch, feel free to re-open it.

[2018-05-22 07:03] #145 closed

[2018-07-04 21:10] mojadadi commented on #82
Great

[2018-07-20 20:58] tresero commented on #135
The current composer doesn't pull the latest source. I'm not a composer expert so I'm not sure what to fix.

For example, the current composer pull is missing stuff.

For example: Call to undefined method ParseCsv\\Csv::getTotalDataRowCount()

[2018-07-21 12:51] susgo commented on #135
@tresero Could you please provide your composer.json for this line?

[2018-07-21 16:08] tresero commented on #135
Here you go. This is a one off application that just parses reports, so not
much in it.

{
    "require": {
        "league/csv": "*",
        "phpoffice/phpspreadsheet": "dev-develop",
        "parsecsv/php-parsecsv": "^1.0"
    }
}

On Sat, Jul 21, 2018 at 5:51 AM, susgo <notifications@github.com> wrote:

[2018-07-21 16:52] susgo commented on #135
Don't tested it yet but maybe there is a bug with our release tags @Fonata?

@tresero For the moment setting "dev-master" for this package in your composer.json should solve the problem. We come back to you when we have tested if there is something wrong with the tags.

[2018-08-06 09:53] Fonata commented on #135
@tresero Indeed, telling us is important! Thank you! I'll create a new release by tomorrow, when PR #147 is merged.

[2018-08-09 13:05] Fonata commented on #135
The [new release](https://github.com/parsecsv/parsecsv-for-php/releases/tag/1.1.0) is out! Despite my minor contributions I granted @ghost's wish and added @susgo and me to the author list in composer.json.

[2018-08-09 13:05] #135 closed

[2018-08-17 00:59] ayiexz opened #148 "Search with multiple column"
How to search data with multiple column??

[2018-08-19 09:26] Fonata commented on #148
A single question mark would suffice.

Is this issue about conditions? You can have a look at [conditions.php](https://github.com/parsecsv/parsecsv-for-php/blob/master/examples/conditions.php) and [ConditionsTest.php](https://github.com/parsecsv/parsecsv-for-php/blob/master/tests/properties/ConditionsTest.php) for a few examples.

If your question is not about conditions, please explain in more wo

[2018-09-18 04:29] oleg-konovalov opened #149 "modify data error"
Hi,
I am getting the following error when I am going to modify specific row data.
My code is

require 'parsecsv.lib.php';
$csv = new ParseCsv\Csv();
$csv->sort_by = 'id';
$csv->parse('data.csv');
$csv->data[2] = array('id' => 2,
                      'description' => 'task2',
                      'category' => 'system',
                      'type' => 'hourly',
                      'date' => '20

[2018-09-18 17:45] oleg-konovalov opened #150 "How to remove last row?"

[2018-09-24 13:36] kPinder opened #151 "Fehlende Überprüfung PHP_MAXPATHLEN verursacht Notice || Notice-Exception"
https://github.com/parsecsv/parsecsv-for-php/blob/c7375dea8e91582958a3a0df3c5d4f4fce91e3c5/src/Csv.php#L892

# Fehler
file_exists verursacht eine Notice, wenn der Dateiname entweder zu lang (> PHP_MAXPATHLEN) ist oder man versucht einen längeren String (> PHP_MAXPATHLEN) zu Parsen.

# Vorschlag zur Änderung um die Notice zu verhindern:
[code]

[2018-09-24 16:37] Fonata commented on #151
@kPinder, thank you for alerting us to your issue! I am happy to confirm that I am able to read German.

For the future, please stick to English, the lingua franca in Open Source.

[2018-09-24 22:35] #151 closed

[2018-10-01 09:33] Fivedark opened #153 "Header Content-Length with gzip in output method"
Hi,

thanks for contributing this great lib.

We using gzip with ob_gzhandler in our framework and use the output function of parsecsv to show or download a generated csv file, but the browser shows an error.

The error is caused by setting the Content-Length for the non gzipped content. If I remove the Content-Length line (448), everything is working fine.

I see three possible solutions:
1. stop

[2018-10-09 13:43] Fonata opened #154 "Give @susgo maintainer status"

[2018-10-09 13:45] jimeh commented on #154
Invite sent :)

[2018-10-09 13:52] #154 closed

[2018-10-09 13:58] susgo commented on #154
Thanks :-)

[2018-11-08 16:09] TwinMist opened #155 "add quotes"
Hi, Great work on this. Can you tell me how i can add quote around the array value?

thanks

[2018-11-13 16:57] #82 closed

[2018-11-13 17:01] susgo commented on #72
I close this issue for now. Please feel free to reopen it if it is still needed.

[2018-11-13 17:01] #72 closed

[2018-11-13 17:03] susgo commented on #84
I close this issue for now. Please feel free to reopen it, if you need more information / help on solving it.

[2018-11-13 17:03] #84 closed

[2018-11-13 17:04] susgo commented on #38
Is this still relevant?

[2018-11-13 17:55] susgo commented on #149
Thanks and sorry for the late reply. The PR #156 will solve this issue.

[2018-11-13 18:12] susgo commented on #150
Thanks and sorry for the late reply. The PR #156 will solve this issue.

[2018-11-13 19:02] Norcoen commented on #38
Never got around to test this again, so I can't say :cry:

[2018-11-13 21:22] susgo commented on #155
Hi! Sorry, I don't understand your use case. Do you have an example what you would like to have? The expected output? Or some source code you use at the moment? Thanks! And sorry for the late reply.

[2018-11-13 21:40] TwinMist commented on #155
Need to export like  "value","value"
Thanks

On Tue, 13 Nov 2018, 21:22 susgo <notifications@github.com wrote:

[2018-11-14 16:06] susgo commented on #155
I think the property `enclose_all` implements this. Please try:
[code]

Please close this issue if this solves your problem. Thanks!

[2018-12-02 06:35] xxMAGRAOxx opened #157 "Parser Doesnt Work Anymore FOR ME"
Please, i know(Or not) that is not really an issue of your project but i'm not able to debug this problem.
We reeceive csv files for google about 2 years and just out of nowhere the parser return empty array when i call $csv->data. I'm crasy becouse google does'nt make any changes in made your csv.

Please see two csv(Work and not work anymore) and help me to debug wft this is happen.

If your guy

[2018-12-02 06:40] xxMAGRAOxx commented on #157
I'm not able to upload csv files, so this is the link on google drive

https://drive.google.com/drive/folders/1yjwjRZ7MKfR_6W8viuhL4vArmp0dn7i6?usp=sharing

thanks!

[2018-12-05 00:14] #157 closed

[2019-01-02 23:01] SamCritch opened #158 "Stream CSV download"
I'm generating a large(-ish) CSV file for a streamed download (and using Symfony `StreamedResponse()`, `fopen('php://output', 'r+')` and `fputcsv()` to do that, but I'm not sure that's relevant). Is there any way to kick off the file stream using `fopen` but use `parseCSV()->save()` to write the line? `fputcsv()` only adds double quotes when there's a special character.

[2019-01-04 21:14] Fonata opened #159 "Add composer validation to CI"
Also: add [branch alias](https://getcomposer.org/doc/articles/aliases.md#branch-alias) for ``dev-master``.

[2019-01-15 02:18] camelG opened #160 "output csv without header"
Hi,i want output a csv file without header by frollow code,but just get a error...

        $output = new ParseCsv\Csv();
        $output->output('ver2.csv', array_values($req_data), [], ',');

[2019-01-16 06:47] camelG commented on #160
undefined offset $header? error below
========================
A PHP Error was encountered

Severity: Notice

Message: Undefined offset: 0

Filename: src/Csv.php

Line Number: 824

Backtrace:

File: C:\xampp\htdocs\csv.com\application\vendor\parsecsv\php-parsecsv\src\Csv.php
Line: 824
Function: _error_handler

File: C:\xampp\htdocs\csv.com\application\vendor\parsecsv\php-parsecsv\src\Csv.php
Line:

[2019-01-22 15:01] Fonata commented on #160
@camelG What is the content of `$req_data`? Feel free to reduct, we just need to know the structure.

Thanks.

[2019-01-30 05:41] toyjack opened #161 "Add heading setting to document"
Hi, it's really a reliable lib for parsing csv files.
Thanks for saving my lot of time!

I just wonder could you add more features' description to your document?
Like no heading :
[code]
I have to read the code to find this.

[2019-02-05 14:55] SamCritch commented on #158
Thanks @Fonata

[2019-02-05 18:22] Fonata commented on #158
Sure, feel free to open another issue if we can help with anything else. Sorry that it took a while.

[2019-02-20 15:46] TwinMist opened #163 "change new line CR to CR/LF or LF"
Hi
is there a way when saving to change how a new line is encoded either to LF or CR/LF

thanks

[2019-02-20 15:56] TwinMist commented on #155
Great that worked, thanks

[2019-02-20 15:56] #155 closed

[2019-02-23 10:15] Fonata commented on #163
Yes. Here is how:
1. Set the ``linefeed`` field, for example ``$csv_object->linefeed = "\n";``
2. Call one of the following: `save()`, `unparse()` or `output()`

I'll close this issue assuming your question is answered. If not, please re-open. If there is anything else we can help with, feel free to open another issue.

[2019-02-23 10:15] #163 closed

[2019-02-24 04:47] #159 closed

[2019-03-07 14:20] dnicastro opened #165 "parse_string is protected"
Following the documentation for  method parse_string:

     * Parse CSV strings to arrays. If you need BOM detection or character
     * encoding conversion, please call load_data() first, **_followed by a call to
     * parse_string() with no parameters_**.
     *
     * ......
     */
    protected function parse_string($data = null) {

Should the documentation be updated?
parse_string() is a pr

[2019-03-10 10:50] Fonata commented on #165
We marked the parse_string() function as protected because its name looked like something to call when you want to, well, parse a string. We will update the code comments.

Let's assume your data sits in a variable `$your_data_string` and the ParseCsv object is called `$csv`. If you need BOM detection or character encoding conversion, please write your code like this:
``if ($csv->load_data($your_d

[2019-03-25 14:38] joshpowlison opened #167 "Readme recommends considering PHP's built-in functions"
PHP's built-in functions don't actually conform to the standards for CSV, which can cause a lot of problems in your code if you use those functions.

[PHP Bug #43225](https://bugs.php.net/bug.php?id=43225)
[PHP Bug #50686](https://bugs.php.net/bug.php?id=50686)

I'm referring to this line in the Readme:

I think mentioning that those functions don't conform to the standards could save some program

[2019-05-11 11:46] #165 closed

[2019-05-18 08:09] Fonata commented on #153
@Fivedark: I see a 4th solution: You can use Apache's compression support. It will rewrite the Content-Length header.

[2019-05-18 08:28] Fonata commented on #153
@Fivedark you can call `header('Content-Length')` again and it will overwrite the value that ParseCSV sets.
What I describe here is the default behaviour controlled by the `$replace` parameter of the ``header()`` function - see the [PHP documentation for header()](https://www.php.net/manual/en/function.header.php).

[2019-05-18 08:28] #153 closed

[2019-05-29 12:33] mckaygerhard opened #169 "write csv space delimited support"
hi, i revise the docs and i wants to know if space delimited text are supported by this project?

[2019-05-30 10:10] Fonata commented on #169
It depends on what you mean exactly:
- ParseCsv can use any character as a field separator using the `delimiter` property. If fields are separated by a single space (or tab `\n`) character, this is going to work with the `save()` function. You can start with the [save_to_file_without_header_row.php example](https://github.com/parsecsv/parsecsv-for-php/blob/master/examples/save_to_file_without_head

[2019-05-30 10:10] #169 closed

[2019-06-01 13:56] mckaygerhard commented on #169
thanks for the right response.. great php utility.. i' using any way! now i will take a look at  "fixed width data file php write." (there's no too much .. so i must made by my own)

[2019-07-24 10:55] osc2nuke opened #170 "skip empty rows"
Not sure if it is already asked or supported.
I have a supplier that delivers csv  with a blank line between each row.
Is there a way to skip these?
As it count's them in as an entry.

[2019-07-24 11:30] osc2nuke commented on #170
Perhaps not desirable:
https://github.com/parsecsv/parsecsv-for-php/blob/b746ea1de0f5a73e9dae1f184b8a975759655f1c/src/Csv.php#L1173

right below:
https://github.com/parsecsv/parsecsv-for-php/blob/b746ea1de0f5a73e9dae1f184b8a975759655f1c/src/Csv.php#L1175

Add:
`$data = preg_replace("![\n\r]+\s*[\n\r]+!", "\r\n", $data);`

[2019-07-24 11:30] #170 closed

[2019-07-24 21:08] osc2nuke commented on #167
I am the last want to go argue.
Respect to @geminorum for finding all the faults that can happen.
I think this package is very useful.
There are so many faulty CSV's.
Especially the ones without headings (WHYYYYYYYYYYYYY).
But that is not worst.
I got one with over 60 headings.
I would like a :
`$csv->fields_auto`

So when i start USE the csv (means before i use the file, and NOT have headings) it

[2019-07-26 15:33] Fonata commented on #167
@osc2nuke
Thanks for your feedback. I am a bit lost as to what you need specifically. Maybe you can describe it in a different way? Are you looking for a ready-made GUI?

Please open a new issue, because I cannot see the connection with the README file yet.

[2019-07-26 19:06] osc2nuke commented on #167
Yes, but i found '$csv->fields' does the trick.

[2019-07-29 12:24] osc2nuke opened #172 "Replace field names or set ones if missing"
I first want to explain what i attempt to do, so you understand the situation.
I am working on a so called "feed Manager".
Some of the feeds (csv's) do not contain headings.

What i try to do is:
Count the columns and assign a custom heading to the column i want the data from.

Not tested but:

    $csv = new ParseCsv\Csv();
    $csv->fields = ['id', 'name', 'category']
    $csv->parse('data.csv')

[2019-08-01 11:43] #167 closed

[2019-08-01 12:28] susgo commented on #172
No sorry, this will not work at the moment

[2019-08-03 13:52] osc2nuke commented on #172
Ok, thanks.
I solved it using just the default code.
One problem left is, as i use "custom headings"  (means my csv has NO headings), the csv is parsed skipping the first row.
`$csv->offset = 0`
Not work in this case.
Is there any solution for that?
Or do i miss a setting?

[2019-08-03 20:16] osc2nuke commented on #172
I will close this and make a new request.

[2019-08-03 20:16] #172 closed

[2019-08-03 20:23] osc2nuke opened #173 "Custom headings ($this->fields)"
I tried some of the options, but i cannot get around it.
If i have a .csv that does NOT had any headings but assign them via:

`$csv->fields`

The FIRST row of the .csv is ignored, when i

`$csv->parse('my.csv')`

The setting:
`$csv->offset =  0`
is ignored, BUT:
`$csv->offset =  2`
not.

(i ask myself what is the use of the `$csv->fields` if not can read the whole .csv?)

[2019-08-03 20:42] osc2nuke commented on #173
Sigh.......
It was my fault, i did not position `$csv->heading = false:` correctly.
Example and might usefully for others:

        $csv->offset = null;
        $csv->delimiter = $this->config['delimiter'];
        $csv->heading = false;
        //start custom code
        $file = file(DIR_FS_CATALOG . 'feeds/'.$this->config['url']);

        $fileHeaders = array();

        $lineArr = $this->preg

[2019-08-03 20:42] #173 closed

[2019-08-04 07:18] Fonata commented on #173
No problem at all. Feel free to create an issue whenever we can help.

[2019-09-14 06:52] Fonata commented on #107
I think this issue may be a duplicate of the already solved #147.

[2019-09-15 10:00] Mykola-Veryha opened #175 "Cuts strings more 255 symbols"
This library cuts strings more 255 symbols

[2019-09-16 07:00] Fonata commented on #175
@Mykola-Veriga Thanks for opening an issue here. Where exactly did you run into problems? Can you post the code how you use the library? If relevant and possible, please also post the CSV file you worked with when you saw the problem.

[2019-09-16 09:28] maddyBoy opened #176 "File upload"
**It's not an issue, just a query or a feature request in general.**

Is there any method available by which we can use it with a file uploader.

Currently, I uploaded the file in a folder and then passed the file to the method to get the csv data.

[2019-09-16 13:25] romainlaisne opened #177 "Field containing comma creates an parsing issue while using the save() function"
Hi,

I am parsing a php array to csv using the save() function of this library.

I get an parsing issue, the fields are not parse correctly, when one of the field in my php array contains an comma, which is also the field delimiter in my case.

Here is an example of the CSV output
`,"""9","72""",,newsletter,,abos_speedresa,Monsieur,"free travel"`

See that the value was 9,72 and it has been strang

[2019-09-17 05:21] Fonata commented on #177
@romainlaisne Thanks for posting your problem here. I believe this is how CSV should work with quotes contained within cells.

I just wrote a test to see what would happen and found nothing surprising:

[code]

Both Excel 2016 and Open Office 4.1.3 opened that correctly. For example:
![image](https://user-images.githubusercontent.com/6819464/65013407-4f57a880-d91b-11e9-9646-b2942151012e.png)

[2019-09-17 06:39] Fonata commented on #176
- If your user just uploads a string of data, you can use the `Csv::parse()` function directly with it.
- If your user uploads a file, you can give the `"tmp_name"` value to `Csv::auto()` or `Csv::parse()`. There is no need to call `move_uploaded_file()`.

I am not aware of any function specific for file uploads.

If you need more help to the same topic, feel free to add to the discussion here. Ot

[2019-09-17 09:18] romainlaisne commented on #177
Thanks for your reply and setting up a test.
But, my php array contained 9,72 only (with no quotes) and it has been converted to : """9","72"""
That is not correct, is it?

An extra info, I use version 1.0 of the library. Perhaps something has been corrected since then?

Thanks

[2019-09-17 14:54] maddyBoy commented on #176
@Fonata

Thank for your suggestion, as if i use the `tmp_name` i am getting the data.

A sample code without any validation, i used this just to validate.

[code]

[2019-09-17 14:54] #176 closed

[2019-09-18 10:26] Fonata commented on #177
Could you paste your code or source data? This particular behavior was not changed since the 1.0 release.

[2019-09-25 07:44] romainlaisne commented on #177
Hi,

Concerning code, I am using save() function just like this
$parseCsvService->save($temp_csv_path, $csv_data, $append, $csv_header);

I see you use unparse directly in your test. Perhaps a difference here ? Even though I see the save() function use also unparse().

To test, we can just pass these arrays to the save() function :

$csv_data=[['3,21']];

and a header :

$csv_header=array("header1

[2019-10-13 16:17] gardist opened #179 "condition 'is greater than' does not working"
example with default **_books.csv**:

[code]
return:
[code]
fix issue:

[code]
how I fixed that: (https://github.com/gardist/parsecsv-for-php/commit/d2ef517854a496ad83c2561bd0bb18610826e39b)

[2019-11-04 20:20] #179 closed

[2019-12-02 16:43] fjf2002 opened #181 "PHP 7.4: Array and string offset access syntax with curly braces is deprecated"
Hello,

please replace in lines like these:

    $lch = $data{$strlen - 1};

curly braces with brackets, thanks!

cf. https://wiki.php.net/rfc/deprecate_curly_braces_array_access

[2019-12-25 12:45] #181 closed

[2019-12-25 13:00] Fonata commented on #179
I just verified that the problem described in is issue is indeed fixed.

[2019-12-25 13:02] Fonata commented on #181
@fjf2002 Thanks for opening the issue! Sorry, that this took so long to fix.

Feel free to open an issue in the future.

[2019-12-25 13:12] Fonata commented on #177
@romainlaisne Your last example wrote a file with this content:
[code]

I checked with version 1.0.0 and with the current `master`. The results are the same.

To me, this looks perfect and expected. What did you expect?

[2020-01-17 12:57] osc2nuke opened #187 "detect encoding How To?"
I try to figure out how to use :
`$csv->encoding('UTF-16', 'UTF-8');`

My csv files vary from ISO-8859-1 till US-ASII.

The doc say i must load before parsing:
`$csv->encoding('UTF-16', 'UTF-8');`

But i must know before no?
so i can do something like:

`$detectedEncoding = $csv->detect_encoding();`
`$csv->encoding($detectedEncoding , 'UTF-8');`//and ignore if is already UTF-8

Does anyone know?
T

[2020-01-25 17:49] Fonata commented on #187
Detecting the encoding is outside the scope of this library.

You can use functions such as `mb_detect_encoding()`.

Here is an example of how to use it:
[code]

I'll close this issue now. If you have any further questions, feel free to re-open and ask.

[2020-01-25 17:49] #187 closed

[2020-04-08 04:34] SharkMachine opened #188 "PHPUnit_Framework_TestCase.inc.php uses the same namespace as real PHPUnit TestCase class"
I'm using ParseCSV via composer on a project that uses PHPUnit 8 for unit testing.

I'm having some problems as `tests/PHPUnit_Framework_TestCase.inc.php` uses the same namespace as the real `TestCase` class.

I'm getting warnings about there being multiple definitions:

![image](https://user-images.githubusercontent.com/7488694/78744241-c01eea80-7969-11ea-9253-c82db37dbba8.png)

And code completi

[2020-04-08 13:54] Fonata commented on #188
Thanks for opening an issue here!

As a quick work-around you can mark ParseCsv's `tests` directory as Excluded:
![image](https://user-images.githubusercontent.com/6819464/78792311-43affa00-79b1-11ea-9170-4011f303c32e.png)

[2020-04-08 18:52] SharkMachine commented on #188
@Fonata That's a lot better than my workaround, thanks. What I'd like even more, would be 2.0 with no PHP 5.x compatibility. You could even go with only supporting PHP 7.2+ as that's the oldest officially supported version at the moment.

If you are accepting PRs for that, I'm willing to do that.

[2020-04-25 17:17] #188 closed

[2020-05-15 13:06] amivag opened #193 "Cannot parse CSV files with BOM (UTF-8)"
As the title says. Try parsing a CSV file with BOM signature (aka Excel CSV). The library fails to extract the data properly.

[2020-08-11 17:21] charperimg opened #194 "output with null filename still prompting to download file"
Calling $csv->output(NULL, $csv_data, $csv_columns) still prompts to download the file.

Issue is in /Src/Csv.php, line 445 for public function output

        if (empty($filename)) {

The above needed to be changed to

        if (empty($filename) && !is_null($filename)) {

Which ensures the function does not set a filename if the filename has been set to null so as to not prompt the download.

H

[2020-08-25 08:00] nerdbachu opened #195 "typo in master - readme file"
In the below sentence

You may not need a library at all: before using ParseCsv, please make sure if PHP's own str_getcsv(), fgetcvs() or fputcsv() meets your needs.

`fgetcsv` function is misspelt.

[2020-09-28 13:33] antoine1003 opened #196 "Keep linebreak as \n or <br />"
Hi,

I use this tool to easily read csv file. In some files I have cells that contain line breaks :

[code]

But the line breaks are removed. It could be cool to add a feature that allows the user to replace line break (expected final line break) by a given text.

Thanks,
Antoine

[2020-10-26 17:57] Mykola-Veryha commented on #175
Sorry, it was my mistake. The reason for the problem wasn't in this library.

[2020-10-26 17:57] #175 closed

[2020-11-10 16:29] assisfery commented on #60
This was solved/implemented?

[2020-11-11 17:40] Fonata commented on #60
Yes, it is implemented. See the commit 39c713c4d0254f4ea9d9efd4872fa33587996595 for the implementation detail. Call `auto()` for a CSV file and the sep= line will be used if present.

[2020-11-12 05:38] Fonata commented on #196
For line breaks in CSV files you need to enclose the cell content. Most typically, the `"` character is used.

I don't think that there is code in this library that removes line breaks. Do you have a source code example? Maybe it is just the visual display in the browser or the lack of enclosing characters.

[2020-11-12 05:41] #195 closed

[2020-11-12 05:43] Fonata commented on #195
@nerdbachu Thanks, I fixed it!

If you find similar errors anywhere on GitHub (not just this library), you can also edit the file directly, using the pen icon. This allows you to open a pull request to let the maintainers accept the change directly. No pressure though, as resolving an issue is just a little more work, not much.

[2020-11-12 05:55] Fonata commented on #194
Thanks for opening an issue here. I think calling `$csv->unparse($csv_data, $csv_columns)` directly is the better option for you.

If you decide against `$csv->unparse()`: I believe that adding the `is_null()` check might break some existing library users' code. Please set `$csv->output_filename = NULL;` instead. Do this before calling `$csv->output()`.

[2020-11-12 05:55] #194 closed

[2020-12-07 17:14] Fonata commented on #193
Please attach an example file and the code you used to open it. Thanks.

[2020-12-07 17:17] #38 closed

[2020-12-20 15:58] amivag commented on #193
I am closing this for now because it's been a long time and I don't have access to the original code.

[2020-12-20 15:58] #193 closed

[2021-03-09 19:38] kiwigringo opened #197 "Syntax Error unexpected 'class' (T_CLASS)"
I'm running on php 7.4x and on attempting to import a CSV file received this error:

Parse Error: syntax error, unexpected 'class' (T_CLASS), expecting identifier (T_STRING) or variable (T_VARIABLE) or '{' or '$' (line 63 of /parsecsv-for-php/src/extensions/DatatypeTrait.php)

A quick Google search on this error seems to indicate it's usually associated with older versions of PHP, but in this case

[2021-03-11 11:03] Fonata commented on #197
Thanks for reporting this problem! Which release or version of ParseCsv do you use?

[2021-03-15 09:35] kiwigringo commented on #197
Version 1.2.0

[2021-03-15 09:49] kiwigringo commented on #197
Resolved the issue. The control panel for the server was reporting PHP version > 7, but was actually applying a 5.4.x version. Fixed this and it works.

[2021-03-15 09:49] #197 closed

[2021-03-15 16:34] Fonata commented on #197
Thanks for your feedback :+1:

[2021-04-01 12:36] mylemans opened #198 "Potential exploit"
I just noticed this piece of code: https://github.com/parsecsv/parsecsv-for-php/blob/9c35237b1b81d369a82c3e550bbf103f62c30e7e/src/Csv.php#L391

Doesn't this leave open an attack vector in the following case?

- Site uses ParseCsv
- Site allows the upload(or reading) of files of content that the user can supply
- Site calls parse(...) with the $input containing all the loaded content instead of a f

[2021-04-01 12:54] mylemans commented on #198
Thought some more about this: simply a csv file that points to a linux device 'file' (ie the .csv file just has such a full path as text) that blocks on read could be enough to cause a denial of service like this.

[2021-04-01 14:01] Fonata commented on #198
@mylemans Thanks for reporting this. Security is important.

I'll think of a clean way of fixing this without breaking too many applications that use this library.

[2021-04-01 15:29] jimeh commented on #198
@mylemans Thanks for pointing out this issue.

@Fonata I'm afraid this "feature" dates back to the very earliest and hacky version I wrote back in 2006. I vaguely recall thinking I should add a whitelist of directory paths which would be considered "readable", but I clearly forgot about it :(...

I'm not sure how much help I would be on the code side now a days, but I'm happy to provide any help y

[2021-04-02 09:18] mylemans commented on #198
I don't see how you can solve this while retaining bw compatibility.

Maybe release a 'final'1.* version that is bw compatible but that trigger_error a warning whenever the parse function is used to load a file instead of 'raw content'? With maybe an additional optional setting (disabled by default, for bw compatibility) that will simply reject loading files through parse() (so with this option en

[2021-04-02 17:43] jimeh commented on #198
I guess the least "breakage" would be to do some sort of allow list of directory paths that `parse()` considers "readable". Any files not within an allowed directory, would fail similar to as if the file is not readable with an appropriate error message. And if the allow list is empty, then no files would be loadable at all.

I think this would only require existing users to specify the temp path

[2021-04-13 07:34] mylemans commented on #198
Wanted to ask for an update on this? :)

[2021-04-14 18:12] #198 closed

[2021-04-14 18:28] Fonata commented on #198
I have released a new [version 1.3.0](https://github.com/parsecsv/parsecsv-for-php/releases/tag/1.3.0) that fixes the issue, but does break existing code.

[2021-04-26 06:57] arshadabm opened #200 "UTF8 file is getting parsed"
I have a file with Turkish symbols e.g İlçe, Döşemealtı, Şereflikoçhisar but when I parse this file, it return empty.
I am using this code
[code]

[2021-04-27 07:54] Melebius opened #201 "Deprecated message in ParseCsv 1.3"
Since I upgraded to ParseCsv 1.3, I keep getting the following message whenever I run ParseCsv in my PHP script:

I am not directly using `parse()` anywhere in my code, I am using ParseCsv in the following way, complying with the [documentation](https://github.com/parsecsv/parsecsv-for-php/blob/master/README.md#example-usage):
[code]

Moreover, the error message is written to STDOUT in addition to

[2021-04-27 19:57] Fonata commented on #200
Hi @arshadabm, thanks for opening an issue here! :wave:

Please provide a link to an example file. To get a link you can store your file in a cloud storage like Dropbox or OneDrive. Make sure that it requires no login and doesn't contain any sensitive information.

[2021-04-27 20:06] Fonata commented on #201
Thanks for letting us know and creating an issue here. :blush:

Please rewrite your code like this:
[code]

You are supplying the filename in the constructor. This is deprecated, but the message you receive is not clear. Everyone is welcome to contribute a pull request that produces a better message for your situation. Currently, ParseCsv doesn't track how `parse()` ended up with the filename, so

[2021-04-28 03:29] arshadabm commented on #200
Hi @Fonata
I have uploaded the file in dropbox.
https://www.dropbox.com/s/q18lz819mgrre0u/cities.txt?dl=0

This file is encoded to utf-8 CSV

[2021-04-28 07:44] mylemans commented on #201
@Fonata $csv->parseFile('data.tsv');
print_r($csv->data);

That seems to be broken. parseFile returns the 'rows' but $csv->data is NEVER assigned! At first I thought maybe this was an intentional change, but since you are using it here as an example I assume it ain't?

[2021-04-28 11:38] Melebius commented on #201
@Fonata, thanks for your reply. I tried the solution you suggested but I’ve got the problem mentioned by @mylemans: `$csv->data` contains nothing after using `$csv->parseFile($filename)`.

[2021-04-28 15:02] mylemans commented on #201
@Melebius For now, you can just take the output from the parseFile function, it will contain what you would normally to be assigned to ->data

[2021-05-13 17:14] Fonata commented on #200
I found two issues with your code example above:
- The of the encodings is expected to be input, output. I think your line should be `$csv->encoding('UTF-8', 'UTF-16');`
- The currently released version of ParseCsv doesn’t set `$csv->data` when used in the way above. I will create a pull request for the community to review that fixes this. You should see the parsed data when you change your call t

[2021-05-13 17:59] Fonata commented on #201
The assignment to `->data` will be addressed in the next release, planned for the end of May. You can see my proposed changes in #202.

[2021-05-24 13:27] Mkurbanov opened #203 "how can i parse csv data from string"
Hi.
how can i parse csv data from string. Like this:
`$csv->parseFile('data.tsv');`
to
`$csv->parseString($data);`

Thx. In advance.

[2021-05-29 11:29] Fonata commented on #203
The function you are looking for is `$csv->parse($data);`.

From your example I assume that the field separator is a tab character. Here is a full example:

[code]

Alternatively, you can use `$csv->autoDetectionForDataString($data);` to detect the field separator and line feed characters.

Feel free to re-open this issue if you have questions about this particular problem. If you have other quest

[2021-05-29 11:29] #203 closed

[2021-06-03 10:10] tchapi commented on #193
Still the case right now:

[test_with_BOM.csv](https://github.com/parsecsv/parsecsv-for-php/files/6590814/test_with_BOM.csv)

This code is not working:

[code]

[2021-06-03 10:10] tchapi commented on #193
[code]

[2021-06-03 10:13] tchapi opened #204 "CSV with BOM are not working"
With:

[test_with_BOM.csv](https://github.com/parsecsv/parsecsv-for-php/files/6590830/test_with_BOM.csv)

[code]

The result is :

[code]

For information:

[code]

This may be related to https://github.com/parsecsv/parsecsv-for-php/issues/193

If I'm doing something that is not correct, please do not hesitate to tell me (the CSV and the code seem pretty standard though)

[2021-06-04 10:11] tchapi commented on #204
Aaaaah I've just stumbled on https://github.com/parsecsv/parsecsv-for-php/pull/202
I think this is the culprit

[2021-06-08 13:32] MDBenson opened #205 "Manaully Force number of columns for unparse()"
I have a CSV output requirement that is fighting parseCSV's unparse() method something fierce because the data is not a simple flat file, I am reporting a line then a 'subreport' table below that line and then flattening it all into a single CSV e.g.:

[code]
The problem I am having is the main titles are only 4 columns and parseCSV is assumingthe CSV is only 4 columns wide and truncating the addi

[2021-06-20 21:21] #200 closed

[2021-06-20 21:21] #201 closed

[2021-06-20 21:30] Fonata commented on #200
I have now released [version 1.3.1](https://github.com/parsecsv/parsecsv-for-php/releases/tag/1.3.1) of this library, fixing this issue.

[2021-06-20 21:32] Fonata commented on #204
Indeed. I have now released [version 1.3.1](https://github.com/parsecsv/parsecsv-for-php/releases/tag/1.3.1), which should fix this issue.

[2021-06-20 21:32] #204 closed

[2021-06-22 15:42] Fonata commented on #205
I am not sure if ParseCsv can handle this. I might research this further once I reserve time for this.

If you have solved it in the mean time: pull requests are welcome.

[2021-06-22 20:19] MDBenson commented on #205
I mean, in essence all it needs is a method that allows:

```$csv->columns = 10;```

Or similar to lock the number of columns.

The rest is complex and I agree it's beyond ParseCsv's scope.

[2021-08-18 19:02] atbigelow opened #206 "auto()/autoDetectionForDataString() cannot determine delimiter with a single row file"
[tab_test.csv](https://github.com/parsecsv/parsecsv-for-php/files/7009287/tab_test.csv)

Running `auto()` or `autoDetectionForDataString()` on the contents of this file does not properly determine the delimiter.

The example of
[code]
Should result in `$csv->delimiter` being a tab, but it is in fact false.

My workaround at this point is to first check if the file has multiple rows, and if not, re

[2021-08-24 17:22] jimeh commented on #206
Out of curiosity, what happens if you remove the linebreak (`\r\n`) at the very end of the line?

The delimiter detection works by a process of elimination, finding all characters in each record (line) which are likely to be a delimiter character, and that appear the exact same number of times outside of quoted fields on each line. So I'm thinking possibly the delimiter detection is getting confus

[2021-08-26 18:52] marcelo2605 opened #207 "Encoding issue"
I file that I'm trying to parse was encoded using Windows-1252. I confirmed this using `mb_check_encoding()`

[code]
But the content of the array still have broken characters (�).

[2021-10-16 16:43] jimeh commented on #206
@Fonata ah, that makes sense. No clue why I wouldn't have thought to cater for that back in the day with the original implementation 🤦‍♂️

[2021-12-15 05:54] fivebillionmph opened #210 "Enclosed cell followed by space then delimiter causes syntax error"
The following CSV (note the space before the comma after the first element in each row) results in an error when parsed with the following script.
[code]
[code]

The error I get when parsing is: `Syntax error found on row 1. Non-enclosed fields can not contain double-quotes.`
This also results in the two cells getting concatenated together like this:
`Name"Address"`
This only is an issue when the

[2021-12-15 12:04] jimeh commented on #210
Technically, your example is not valid CSV, but I believe it should be handled more gracefully with a warning, rather than an outright error.

A few years ago I put together a draft spec for [csv-spec.org](https://csv-spec.org/). Clause 9 is relevant:

[2022-01-23 09:25] MakkiAbid opened #212 "TOO SLOW!!!"
Speed is too slow when I make to import records in millions ...
does the library uses **LOAD DATA INFILE** for parsing in queries or not ???

[2022-01-24 15:01] Connum opened #213 "treatment of cells with constant formula"
I don't know if "constant formula" is an official term, but I read it somewhere. What I mean is the following:
It's possible to prefix a quoted cell content with an equal sign, e.g. in order to prevent Excel from losing any leading zeros when the content is numeric, for example:
`...;="0001234";`
When I use this library to parse files containing this notation, the value is simply read as the whole

[2022-01-29 13:43] Kr3m commented on #212
Why would there be a SQL operation on a basic PHP CSV parser?  I haven't checked, but I wouldn't assume it uses it either.  You could easily answer your own question by searching the code.

[2022-02-02 09:38] jimeh commented on #212
Loading a CSV file with millions of records is unlikely to be fast, and use lots of memory, as the parser loads the whole data set into memory from what I recall.

In theory streaming records or fields one at a time would be possible, but I believe it would entail a major departure from the current codebase.

[2022-04-05 03:24] camelG commented on #160
No problem for program,just my miss.
Thank you

[2022-05-18 09:34] stevleibelt commented on #212
Hello @MakkiAbid,

try to not be so rude next time.

As @Kr3m and @jimeh mentioned already, neither "million of records" (I suspect you are thinking of rows without taking into account how much data one row does have), nor doing something in SQL like `LOAD DATA INFILE` is a realistic issue this component wants to solve.

I would suggest to close this issue @jimeh.

[2022-05-19 08:21] stevleibelt commented on #160
@camelG so the issue is solved?
If so, could you be so kind and tell what was the issue, how you've figured it out?

To motivate you, the benefit of your answer could be:

* Help other persons to find their issues faster next time
* Maybe give the developers a hint how to ease up error communication with the developer
* Even more but less likely, create a feature out for your issue

Best regards,

[2022-05-19 08:23] stevleibelt commented on #148
@ariefsn is your issue solved in the meantime?

If not, be so kind and add more information like a few lines if your demo data (anonymize it) and explain in more detail what you want to achieve. Maybe just show the result, based on your demo data.

Best regards,
Stev

[2022-05-19 08:24] stevleibelt commented on #196
@antoine1003 is the answer provided by @fonata good enough to fix your issue?

This ticket is pretty old already and it would be nice to close it with a remark that the answer from @fonata was a good one.

[2022-05-19 08:26] stevleibelt commented on #177
@romainlaisne is your issue solved now? This ticket is pretty damn old and it would be nice to close it with a remark of success.

Cheers,
Stev

[2022-05-19 08:30] antoine1003 commented on #196
I'll try to find in my old project 😄

[2022-05-21 00:05] jimeh commented on #196
Input fields containing any form of line break, must be enclosed with double quotes. Otherwise it's impossible to reliable tell if the line break denotes a new record, or just a line break in the current field being parsed.

A bit more detail is available in clause 7 in my [csv-spec.org](https://csv-spec.org/) project:

To use the original example in this issue:

[code]

It must be be changed to t

[2022-06-17 09:20] #160 closed

[2022-11-26 17:07] alexstandiford opened #214 "Documentation on MySQL Regex Capabilities"
Hello there! Thanks for making this, and if you're reading this I appreciate your contributions!

I am implementing this project in a CSV importer utility [here](https://github.com/adiungo/data-source-csv/blob/b1f8c8ff65d202e693301b3b927f01f9420909b3/lib/CSV_Data_Source.php#L180), and I managed to figure out how to use the MySQL-like syntax that is [referenced here.](https://github.com/parsecsv/pa